<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <h1>Statistics</h1>
    </header>
    <main>
        <canvas id="barChart"></canvas>
        <canvas id="pieChart"></canvas>
        <canvas id="lineChart"></canvas>
        <script>
            var barData = JSON.parse('{{ bar_data | tojson }}');
            var pieData = JSON.parse('{{ pie_data | tojson }}');
            var lineData = JSON.parse('{{ line_data | tojson }}');
        </script>

        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <a href="/">Back to Home</a>
    </main>
</body>
</html>
